.pam-page-index{
  .pam-header{
    animation-delay: 1s;
  }
}
.pam-header {
  padding: 10px;
  max-width: 100%;
  background: #fff;
  position: relative;
  left: 0;
  width: 100%;
  transition: all .5s;
  z-index: 1099;
  ul.top-list{
    display: flex;
    justify-content: flex-end;
    margin: 0 0 10px;
    padding: 0;
    li{
      list-style: none;
      margin-right: .5em;
      a.pam-button{
        font-size: .65em;
        background: none;
        border: 2px solid #fff;
        &:hover{
          background: #fff;
          color: $primary;
        }
        .sticky-header & {
          border: 2px solid $primary;
          color: $primary;
          &:hover{
            background: $primary;
            color: #fff;
          }
        }
      }
    }
  }
  @media #{$medium-only}{
      top: 40px;
  }
  .top-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
    ul{
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        margin-left: 20px;
        a{
          &[class^="lmg-fa"]{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            background: $primary;
            border-radius: 100%;
            text-decoration: none;
            &.lmg-fa-facebook-f{
              background: $facebook;
              color: #fff;
            }
            color: #fff;
            &.lmg-fa-linkedin-in{
              background: $linkedin;
              color: #fff;
            }
          }
        }
      }
    }
  }
  @media #{$medium-up}{
    background: none;
      position: fixed;
  }
  @media #{$large-up}{
    top: 0;
    z-index: 9997;
  }
  .pam-container{
    max-width: 100%;
  }
  .logo-left{
    img{
      width: 300px;
      max-width: 100%;
      transition: all .5s;
      line-height: 1;
      @media #{$medium-only}{
        max-width: 300px;
      }
    }
    h1{
      margin: 0;
      padding: 0;
      line-height: 0;
    }
  }
  .header-right{
    .cl-container{
      margin-right: 1em;
      a.button{
        text-transform: uppercase;
      }
      .pam-hover-drop-down{
        .pam-drop-down{
          ul{
            right: 0;
            font-size: .85em;
          }
        }
      }
    }
  }
  .sticky-header &{
    background: #fff;
    .logo-left{
      img{
        width: 200px;
        @media #{$medium-only}{
          max-width: 200px;
        }
      }
    }
    .cl-container{
      a.pam-button{
        font-size: .75em;
      }
    }
    .pam-auto-nav{
      > ul{
        > li{
          > a{
            font-size: .75em;
            color: $primary;
          }
          &:hover{
            > a{
              color: #333;
            }
          }
        }
      }
    }
  }
}
.pam-sub-footer{
  background: $primary;
  color: #fff;
  padding: 4em 1em 2em;
  position: relative;
  &::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: file-url('watermark.png') no-repeat center 50% / 1000px auto;
    opacity: .25;
  }
  img{
    width: 300px;
  }
  ul.sm-list{
    margin: 0;
  }
  a{
    color: #fff;
    text-decoration: none;
  }
  h2{
    &::after{
      display: block;
      content: "";
      width: 100px;
      height: 4px;
      background: $secondary;
      margin: .5em auto 0;
    }
  }
  a.pam-button{
    background: $linkedin;
    margin-top: 10px;
    i{
      margin-right: 10px;
    }
  }
}
.pam-footer {
  font-family: Verdana, Sans-Serif;
  font-size: 11px;
  padding: 16px;
  text-align: center;
  color: #fff;
  a {
    color: #fff;
    text-decoration: none;
  }
}


.reg-rep{
  color: #f00;
}


@media #{$medium-down}{
  .animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}
